<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
  </head>
  <body>
    <div style="margin: 2rem">
      <h1 style="color: salmon">Blogs</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla deserunt
        quod impedit, ut eaque minima perspiciatis vitae sunt ea eius ex harum
        consequatur eum corporis maiores! Alias, qui deserunt. Facilis!
      </p>
    </div>
  </body>
</html>
