<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/homepage.css" />
    <title>Flask</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to my Flask app</h1>
      <ul class="items-container">
        <li>
          <a href="/about">About Me</a>
        </li>
        <li>
          <a href="/blog/chitsanupong">Blog</a>
        </li>
      </ul>
    </div>
  </body>
</html>
