<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is my first Flask project." />
    <meta name="keywords" content="Flask Python" />
    <meta name="author" content="Chitsanupong Tangvasinkul" />
    <!-- og (open graph tag) use to create post in Facebook or other social media. -->
    <meta property="og:title" content="Flask Project" />
    <meta
      property="og:description"
      content="My first python-based server with Flask"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/image.jpg" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Flask</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar mb-16">
        <a href="{{url_for('index')}})">Home</a>
        <a href="{{url_for('about')}})">About</a>
        <a href="/blog/chitsanupong">Blog</a>
      </nav>
      <main>{% block content %}{% endblock %}</main>
    </div>
  </body>
</html>
