@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p,
a,
li {
  font-size: 16px;
}

.container {
  display: grid;
  place-content: center;
  margin: 2rem;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: #1a5f7a;
  transition: color 0.2s ease-in-out;
}

ul li {
  list-style: none;
}
