@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import 'about.css';
@import 'blog.css';
@import 'homepage.css';
@import 'navbar.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p,
a,
li {
  font-size: 16px;
}

.container {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 2rem;
  width: 600px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: #1a5f7a;
  transition: color 0.2s ease-in-out;
}

ul li {
  list-style: none;
}

.my-8 {
  margin: 8px 0;
}

.my-16 {
  margin: 16px 0;
}

.mx-8 {
  margin: 0 8px;
}

.mx-16 {
  margin: 0 16px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}
